.button {
    position: relative ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    border: 4px solid lightskyblue;
    color: lightskyblue;
    background-color: white;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}



.button:hover {
    color: white;
    background-color: lightskyblue;
}