$primryColor: #eb3974;
// $primryColor: #e91e63;

.button {
    // position: relative ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    border: 4px solid $primryColor;
    color: $primryColor;
    background-color: white;
    outline: none;
    transition: all 0.3s ease-in-out;
}



.button:hover {
    color: white;
    background-color: $primryColor;
}