@import  '../../styles/GlobalStyles.module.scss';

.offerShort
{
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    background: linear-gradient(135deg, rgba(33,150,243,1) 0%, rgba(0,188,212,1) 100%);
    background-size: cover;
    background-position: center;
    color: #ddd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.title {
    padding-bottom: 20px;
    width: 100%;
    font-size: 46px; 
  }

.bubbleBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.infoBox {
    flex: 1;
}
.motto {
    font-size: 36px;
    padding-bottom: 20px;
}


.desc {
    padding-bottom: 20px;
}

.buttonBox {
  
}


.desc {
    font-size: 26px;
}



.bubble1 {

}

.bubble2 {
    margin-top: -60px;
    align-self: center;
}

.bubble3 {
    margin-top: -60px;
    align-self: flex-end;
}