@import  '../../styles/GlobalStyles.module.scss';

.aboutShort {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.container {
    padding: 20px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    background-color: $primaryColor;
    position: relative;

}


.fotoWrapper1,
.fotoWrapper2
 {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px 10px rgba(0,0,0, 0.2);
}

.fotoWrapper1 {
    background-image: url('../../images//people/person1.jpg');
    background-position: 0% 30%;
}
.fotoWrapper2 {
    margin-top: -60px;
    background-image: url('../../images//people/person2.jpg');
    float: right;
}



.tree {
    fill: darkgreen;
    height: 100%;
    width: auto;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    transform: translateX(-50%);
    opacity: 0.3;
    z-index: 0;
}







@media screen and (max-width: $navpx) {
    .container {
        flex-direction: column;
    }
}





